[core]
    autocrlf = true
	hooksPath = ~/.githooks
    editor = nvim-qt -- 
[user]
	name = Tengiz Sharafiev
	email = btolfa@gmail.com
	signingkey = 0D7F1F7957CD89E0
[alias]
	prune = fetch --prune
	resign = rebase --exec 'git commit --amend --no-edit -n -S' -i
	amend = commit --amend -S
	graft = cherry-pick
	histedit = rebase -i
[gpg]
	program = c:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[winUpdater]
	recentlySeenVersion = 2.17.0.windows.1
